[{:itonami.blueprint/social-impact [:benefits-access-continuity :caseworker-capacity :audit-transparency], :itonami.blueprint/domain :public-administration/social-benefits-documentation, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "3353", :itonami.blueprint/name "Government Social Benefits Documentation and Logistics-Coordination Practice", :itonami.blueprint/governor :social-benefits-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3353", :itonami.blueprint/license "AGPL-3.0-or-later"}]
